<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ajustes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button
    color="primary"
    expand="block"
    size="large"
    (click)="ActivarPrincipal()"
  >
    Ir a principal
  </ion-button>

  <ion-button
    color="tertiary"
    expand="block"
    size="large"
    (click)="mostrarModal()"
  >
    Mostrar Modal
  </ion-button>
</ion-content>
